@import '../vendors/styles/normalize.styl';
@import 'variables';
@import 'defaults';

// @import 'categories';
// @import 'buttons';
// @import 'header';
// @import 'body';
// @import 'footer";


html {
    body {
        background: $color-bg;
        padding: 0;
    }
}